<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>Followers</title>
</head>

<body>
  <div class="header">
    {%if islogin == '1' %}
    <h1>Welcome ,{{username}}!</h1>
      <h4>
        性別 {{blog['userInfo']['sex']}}
        <br>追蹤人數 {{blog['userInfo']['amt_follower']}}
        <br>粉絲人數 {{blog['userInfo']['amt_fan']}}
      </h4>
    {%else%}
    <h1>請先<a href="/login">{{username}}<a>!</h1> {%endif%}
    <div class="nav">
      <ul>
        {%for nav in nav_list%}
        <li><a href="{{nav}}">{{nav}}</a></li>
        {%endfor%}
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="item">
      <h1>{{blog['title']}}</h1>
      <div class="content">
        <table>
          <tr>
            <th>使用者名稱</th>
            <th>性別</th>
            <th>追蹤人數</th>
            <th>粉絲人數</th>
            {%if islogin == '1' %}
            <th>關係</th>
            <th></th>
            {%endif%}
          </tr>
          {%for usersInfo in blog['users']%}
          <tr>
            <td>{{usersInfo['account']}}</td>
            <td>{{usersInfo['sex']}}</td>
            <td>{{usersInfo['amt_follower']}}</td>
            <td>{{usersInfo['amt_fan']}}</td>
            {%if islogin == '1' %}
            <td>{{relationship}}</td>
            <td><a href="follow()">追蹤</a></td>
            {%endif%}
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
  </div>
</body>

</html>
